name: Release to Maven Central

on:
  push:
    tags:
      - 'v*'

env:
  GO_VERSION: 1.25

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Free up disk space
        run: |
          sudo apt-get purge -y \
            'aspnetcore.*' \
            'dotnet.*' \
            'firefox.*' \
            'google-chrome.*' \
            'mysql.*' \
            'php.*' \
            'mono-.*' \
            'libmono.*'
          sudo apt-get autoremove -y
          df -h
      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: ${{ env.GO_VERSION }}
      - name: Setup Java 8
        uses: actions/setup-java@v5
        with:
          java-version: '8'
          distribution: 'temurin'
          server-id: central-portal
          server-username: MAVEN_CENTRAL_USERNAME
          server-password: MAVEN_CENTRAL_PASSWORD
          gpg-private-key: ${{ secrets.SIGNINGKEY }}
          gpg-passphrase: SIGNINGPASSWORD
      - name: Build
        run: make build-all
      - name: Maven Release
        run: mvn -Prelease clean deploy
        env:
          MAVEN_CENTRAL_USERNAME: ${{ secrets.MAVEN_CENTRAL_USERNAME }}
          MAVEN_CENTRAL_PASSWORD: ${{ secrets.MAVEN_CENTRAL_PASSWORD }}
          SIGNINGPASSWORD: ${{ secrets.SIGNINGPASSWORD }}
